{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet"
              href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap4.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.css">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>

    <script>
        $( document ).ready( function(){
            $('.user-pages').on( 'click', function(){
                $(this).next().toggle();
            });

            $('.statsTable').DataTable({
                paging: false,
                searching: false,
                lengthChange: false,
                bInfo : false
            });

            $("#wikitableBtn").on('click', function(){
                $('#wikitableDiv').toggle();
                window.scrollBy(0, 300);
            })
        });
    </script>
    <style>
        .user-pages {
            text-decoration: underline;
            color: #007bff;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}
    <h1>Contest Info</h1>
    <hr>
    {% if logged %}
        {% if username in data["admin"] %}
            <a class="float-right btn btn-info" href="{{ request.url + '/edit' }}">Edit Contest</a>
        {% endif %}
    {% endif %}
    <ul>
        <li>
            Name: {{ data["name"] }}
        </li>
        <li>
            Project: {{ data["project"] }}
        </li>
        <li>
            Started from: {{ data["start_date"] }}
        </li>
        <li>
            End on: {{ data["end_date"] }}
        </li>
        <li>
            Created by: {{ data["createdby"] }}
        </li>
        <li>
            Created on: {{ data["createdon"] }} UTC
        </li>
        <li>
            Last Update: {{ lastUpdate }}
        </li>
        <li>
            Contest running status: {{ "On" if data["status"] else "Off" }}
        </li>
    </ul>
    <h2>Administrators</h2>
    <hr>
    <ol>
        {% for u in data["admin"] %}
            <li>
                <a href="https://{{data["project"]}}.wikisource.org/wiki/User:{{ u }}">
                    {{ u }}
                </a>
            </li>
        {% endfor %}
    </ol>

    <h2>Index Page</h2>
    <hr>
    <ol>
        {% for u in data["index"] %}
            <li>
                <a href="https://{{data["project"]}}.wikisource.org/wiki/{{ u }}">
                    {{ u }}
                </a>
            </li>
        {% endfor %}
    </ol>

    <h2>Scores</h2>
    <h5>Proofread</h5>
    <hr>
    <table class="statsTable table table-hover table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Pages</th>
                <th>No of Pages</th>
            </tr>
        </thead>
        <tbody>
            {% for users in proofread %}
            <tr>
                <td>
                    <a href="https://{{data["project"]}}.wikisource.org/wiki/User:{{users}}">
                        {{users}}
                    </a>
                </td>
                <td>
                    <p class="user-pages"> Show/Hide Pages </p>
                    <div style="display:none;">
                        {% for page in proofread[users] %}
                            <a href="https://{{ data["project"] }}.wikisource.org/wiki/{{page}}">
                                {{page}}
                            </a>
                            <br>
                        {% endfor %}
                    </div>
                </td>
                <td>{{ proofread[users]|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h5>Validate</h5>
    <hr>
    <table class="statsTable table table-hover table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Pages</th>
                <th>No of Pages</th>
            </tr>
        </thead>
        <tbody>
            {% for users in validate %}
            <tr>
                <td>
                    <a href="https://{{data["project"]}}.wikisource.org/wiki/User:{{users}}">
                        {{users}}
                    </a>
                </td>
                <td>
                    <p class="user-pages"> Show/Hide Pages </p>
                    <div style="display:none;">
                        {% for page in validate[users] %}
                            <a href="https://{{ data["project"] }}.wikisource.org/wiki/{{page}}">
                                {{page}}
                            </a>
                            <br>
                        {% endfor %}
                    </div>
                </td>
                <td>{{ validate[users]|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h5>Points table</h5>
    <div>
        <small>Proofread: <b>{{point["p"]}}</b> Points</small>
        <small>Validate: <b>{{point["v"]}}</b> Points</small>
    </div>
    <table class="table table-hover"
        data-toggle="table"
        data-sort-name="points"
        data-sort-order="desc"
        data-sortable="true"
    >
    <thead>
        <tr>
        <th scope="col" data-sortable="true">User</th>
        <th scope="col" data-sortable="true">Proofread</th>
        <th scope="col" data-sortable="true">Validate</th>
        <th scope="col" data-field="points" data-sortable="true">Total Points</th>
        </tr>
    </thead>
    <tbody>
    {% for i in score %}
        <tr>
            <td>
                <a href="https://{{data["project"]}}.wikisource.org/wiki/User:{{ i }}">{{ i }} </a>
            </td>
            <td>{{ score[i]["proofread"] }}</td>
            <td>{{ score[i]["validate"] }}</td>
            <td>{{ score[i]["proofread"]*point["p"] + score[i]["validate"]*point["v"] }}</td>
        </tr>
    {% endfor%}
    </tbody>
    </table>
    <br>
    <button id="wikitableBtn" class="btn btn-warning">Show/Hide wikitable</button>
    <div id="wikitableDiv" style="display: none">
        <textarea rows="20" style="min-width: 100%">{{ wikitable }}</textarea>
    </div>
{% endblock %}